
<!DOCTYPE html>
<html lang="it">
<head>


</head>


<body>



    

<main class="container pb-4 px-4" id="maincontent">


<section class="sezione-notizie" aria-label="Notizie">
<div class="row d-none">
<div class="col">
<div class="section_title text-center">
<h2>Notizie</h2>
</div>
</div>
</div>
<div class="row">

</div>
</section>


<section class="sezione-html section-with-bg wow fadeInUp" aria-label="Immagine grigia ">
<div class="row d-none">
<div class="col">
<div class="section_title text-center">
<h2>Immagine grigia </h2>
</div>
</div>
</div>
<div class="row no-gutters widgets-wrap clearfix justify-content-center">
<style> 

</style>
<img style="width:100%;" src="https://cspace.spaggiari.eu//pub/PNII0005/prr.jpg?_t=1709227562"> 
</div>
</section>


<section class="sezione-notizie" >
<div class="row">
<div class="col">
<div class="section_title text-center">
<h2>In Evidenza</h2>
</div>
</div>
</div>
<div class="row">

<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/staffetta-dellinclusione" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/668.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026inclusione" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/staffetta-dellinclusione" target="_self">“Staffetta dell’Inclusione” <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Il Liceo Leopardi-Majorana di Pordenone protagonista della “Staffetta dell’Inclusione” un  viaggio nazionale che unisce l’Italia nel segno della solidarietà: un ponte tra storia e solidarietà verso Pordenone 2027.</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">06 febbraio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/racconti-in-classe-2026" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/666.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026 Racconti Classe" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/racconti-in-classe-2026" target="_self">Racconti in Classe 2026 <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Oltre 120 studenti hanno partecipato sabato 31 gennaio 2026 al contest di scrittura creativa Raccontinclasse 2026, promosso dal Liceo Leopardi-Majorana e da...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">02 febbraio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/in-viaggio-con-la-luce" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/665.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026Scienzapulito" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/in-viaggio-con-la-luce" target="_self">“IN VIAGGIO CON LA LUCE” <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">SECONDA EDIZIONE DELLA GIORNATA DELLA SCIENZA AL LEOMAJOR, un percorso interattivo tra cultura scientifica e umanistica</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">31 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/convocati-alla-gara-interregionale-di-astronomia" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/662.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026 Campionati Astronomia" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/convocati-alla-gara-interregionale-di-astronomia" target="_self">CONVOCATI ALLA GARA INTERREGIONALE DI ASTRONOMIA <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Gli studenti che hanno superato la fase di istituto e si sono qualificati per la fase interregionale delle Olimpiadi di Astronomia, in programma il 25 febbraio...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">28 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/calendario-cerimonie-di-posa-pietre-dinciampo-2026" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/661.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026 inciampo" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/calendario-cerimonie-di-posa-pietre-dinciampo-2026" target="_self">Calendario cerimonie di posa Pietre d’Inciampo 2026 <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Progetto Pietre d&#8217;Inciampo 2026Calendario delle cerimonie di posa attualmente definite&#160;ROVEREDO IN PIANO, 26 gennaio ore 12&#160;AZZANO DECIMO, 27...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">26 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/torneo-di-calcio-a-5-interno-leomajor" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/659.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="SquadraB" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/torneo-di-calcio-a-5-interno-leomajor" target="_self">Torneo di calcio a 5 interno LeoMajor <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">"Il gruppo sportivo scolastico parte col botto!!!
Mercoled&#236; 21 gennaio si &#232; svolta, presso la palestra di Borgomeduna, la finale del torneo di...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">25 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/certamen-lucretianum-naoniense-" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/657.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026 certam luc naon" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/certamen-lucretianum-naoniense-" target="_self">"Certamen Lucretianum Naoniense"  <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">La XIV edizione del Certamen Lucretianum Naoniense si svolger&#224; nei giorni 10 e 11 aprile 2026.
In allegato il bando.</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">20 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/conferenza---la-fisica-e-il-baseball" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/654.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026 fisica-baseball" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/conferenza---la-fisica-e-il-baseball" target="_self">Conferenza - La fisica e il Baseball <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">&#8220;Un viaggio interdisciplinare tra scienza, campo da gioco e societ&#224;.&#8221;
&#160;Il baseball &#232; un laboratorio multidisciplinare dove la...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">19 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/studenti-convocati-alla-fase-provinciale-delle-olimpiadi-di-matematica" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/652.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026olimat-prov" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/studenti-convocati-alla-fase-provinciale-delle-olimpiadi-di-matematica" target="_self">STUDENTI CONVOCATI ALLA FASE PROVINCIALE DELLE OLIMPIADI DI MATEMATICA <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Gli studenti del Liceo Leopardi Majorana ammessi alla fase provinciale delle Olimpiadi di Matematica, che si svolger&#224; l'11 febbraio presso la sede...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">05 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/studenti-convocati-alla-gara-regionale-delle-olimpiadi-di-fisica" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/651.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2026olifis" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/studenti-convocati-alla-gara-regionale-delle-olimpiadi-di-fisica" target="_self">STUDENTI CONVOCATI ALLA GARA REGIONALE DELLE OLIMPIADI DI FISICA <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Si comunica che, a seguito della gara di primo livello dei Giochi di Fisica, svoltasi presso il nostro istituto in data 19 dicembre 2025, lo studente Beamonte...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">05 gennaio 2026</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/classifica-della-fase-distituto-delle-olimpiadi-di-matematica" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/649.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="2025olimat-clas" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/classifica-della-fase-distituto-delle-olimpiadi-di-matematica" target="_self">CLASSIFICA DELLA FASE D'ISTITUTO DELLE OLIMPIADI DI MATEMATICA <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">La graduatoria dei migliori studenti del Biennio e del Triennio che hanno partecipato alla fase d’istituto delle Olimpiadi di Matematica</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">15 dicembre 2025</small>

 
</div>


</div>
</div>
</div>


<div class="col-lg-4 col-sm-4 separatore">
<div class="card-wrapper">
<div class="card card-img no-after">

<a href="https://www.leomajor.edu.it//pagine/restiamo-a-scuola-" target="_self">
<div class="img-wrapper">
<img src="https://scaling.spaggiari.eu/PNII0005/thumbnail/648.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6Pk9jQH5POS%2FquVc8aOi3ns2htM1BhF%2Fr5nAtRVDWvfTyMAZSK1CdbWaDHnglQjglAuFwI5cB%2FVmg%2FuX4At01ifvHVhzR520%2FYme%2BqShUDP%2B9Qj7hNmcQs3PUZ%2B9YD5vdA%3D%3D" alt="Coesione Italia 21-27" class="img-fluid w-100">
</div>
</a>


<div class="card-body">
<h3 class="card-title"><a href="https://www.leomajor.edu.it//pagine/restiamo-a-scuola-" target="_self">RESTiAMO a SCUOLA  <span class="badge badge-pill badge-danger ml-1">NEWS</span></a></h3>
<p class="card-text">Obiettivi del Piano Estate 21-27 sono ampliare e sostenere l&#8217;offerta formativa con azioni specifiche volte a promuovere iniziative per il recupero e il...</p>

</div>

<div class="card-footer p-2 pl-4">

<small class="text-muted">15 dicembre 2025</small>

 
</div>


</div>
</div>
</div>


</div>
</section>


<section class="sezione-calendario" >
<div class="row">
<div class="col">
<div class="section_title text-center">
<h2>Circolari</h2>
</div>
</div>
</div>
<div class="row">
<div id="event-wrapper">


<div class="col-lg-12 col-12">
<div id="news-scroll">
<div class="latest-news-feed" data-tipo="news">
<div class="latest-news-feed-header">
<span>Ultimi contenuti</span>
<button class="vc_goUp" aria-hidden="true"><i class="fa fa-fw fa-angle-up"></i></button>
<button class="vc_goDown" aria-hidden="true"><i class="fa fa-fw fa-angle-down"></i></button>
</div>
<div class="latest-news-feed-body verticalCarousel">
<ul class="vc_list" data-colonne="1" data-max_elementi="9" data-no_immagini="0">
<li class="text-center align-items-center">
<div class="progress-spinner progress-spinner-double progress-spinner-active">
<div class="progress-spinner-inner"></div>
<span class="sr-only">Caricamento...</span>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>


</div>
</div>
</section>


<section class="sezione-widgets section-with-bg" aria-label="Widget trasparenza">
<div class="row d-none">
<div class="col">
<div class="section_title text-center">
<h2>Trasparenza</h2>
</div>
</div>
</div>
<div class="row no-gutters amministrativo-wrap clearfix section-with-bg wow fadeInUp" id="amministrativo">
<div class="col-md-6 col-12">
<div class="sezione-ammin" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//amministrazione-trasparente" target="_self"><img src="https://www.leomajor.edu.it//pvw2/img/widgets/trasparenza.png" class="img-fluid" alt="Amministrazione Trasparente"></a>
</div>
</div>
<div class="col-md-6 col-12">
<div class="sezione-ammin" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//albo-online" target="_self"><img src="https://www.leomajor.edu.it//pvw2/img/widgets/albo_online.png" class="img-fluid" alt="Albo Online"></a>
</div>
</div>
</div>
</section>


<section class="sezione-html section-with-bg wow fadeInUp" aria-label="HTML personalizzato">
<div class="row d-none">
<div class="col">
<div class="section_title text-center">
<h2>HTML personalizzato</h2>
</div>
</div>
</div>
<div class="row no-gutters widgets-wrap clearfix justify-content-center">
<div class="row no-gutters amministrativo-wrap clearfix section-with-bg wow fadeInUp" id="amministrativo">
<div class="col-md-6 col-12">
<div class="sezione-ammin aos-init aos-animate" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/pnrr"><img src="https://cspace.spaggiari.eu//pub/PNII0005/futura.png?_t=1709979480" class="img-fluid" alt="Progetti PNRR"></a>
</div>
</div>
<div class="col-md-6 col-12">
<div class="sezione-ammin aos-init aos-animate" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/pon"><img src="https://cspace.spaggiari.eu//pub/PNII0005/pon.png?_t=1709979481" class="img-fluid" alt="Progetti PON"></a>
</div>
</div>
</div>

</div>
</section>


<section class="sezione-widgets section-with-bg wow fadeInUp" >
<div class="row">
<div class="col">
<div class="section_title text-center">
<h2>Servizi</h2>
</div>
</div>
</div>
<div class="row no-gutters widgets-wrap clearfix justify-content-center">

<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=339&amp;&amp;source=servizi-famiglie" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Iscrizioni on-line</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/121.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Iscrizioni on-line">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=399&amp;&amp;source=servizi-personale" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">La pagina del prof</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/347.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="La pagina del prof">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=336&amp;&amp;source=servizi-personale" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Mad</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/57.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Mad">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=337&amp;&amp;source=servizi-personale" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Moodle</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/91.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Moodle">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=334&amp;&amp;source=servizi-personale" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Registro elettronico</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/43.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Registro elettronico">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=340&amp;&amp;source=servizi-famiglie" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Ricevimento genitori</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/221.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Ricevimento genitori">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=338&amp;&amp;source=servizi-famiglie" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Scuola in Chiaro</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/101.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Scuola in Chiaro">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=335&amp;&amp;source=servizi-personale" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Sportello di ascolto</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/45.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Sportello di ascolto">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=332&amp;&amp;source=servizi-personale" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Biblioteca</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/41.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Biblioteca">
</figure>
</a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget-servizi">
<a href="https://www.leomajor.edu.it//servizi?id=333&amp;&amp;source=servizi-famiglie" target="_self" class="w-100">
<figure class="figure">
<figcaption class="figure-caption font-weight-bold">Libri di testo</figcaption>
<img src="https://scaling.spaggiari.eu/PNII0005/widget/25.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="figure-img img-fluid rounded" alt="Libri di testo">
</figure>
</a>
</div>
</div>


</div>
</section>


<section class="sezione-widgets section-with-bg wow fadeInUp" >
<div class="row">
<div class="col">
<div class="section_title text-center">
<h2>Link utili</h2>
</div>
</div>
</div>
<div class="row no-gutters widgets-wrap clearfix justify-content-center">

<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/percorso-nazionale-di-biologia-con-curvatura-biomedica" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/631.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="2025 Biologia Curvatura Biomedica"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/poc-per-la-scuola-2014-2020" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/623.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="POC"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/orientamento-in-entrata" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/473.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="orient2"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/ricevimento-genitori" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/278.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="mini colloqui"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/la-biblioteca" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/257.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="Logo mini biblioteca"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/virtual-tour" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/207.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="Virtual Tour 1"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/faq-famiglie-1" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/63.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="faq famiglie"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/faq-docenti-1" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/65.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="faq docenti"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


<div class="col-lg-3 col-md-4 col-xs-6">
<div class="widget" data-aos="fade-up">
<a href="https://www.leomajor.edu.it//pagine/progetti-realizzati-con-il-contributo-della-fondazione-friuli" target="_self"><img src="https://scaling.spaggiari.eu/PNII0005/widget/456.png&amp;rs=%2FtccTw2MgxYfdxRYmYOB6MBuLVa%2BNrJ0P%2FLEiGWNzqTrgln8v1dFB63p5qTp4dENXTp76LtSZtFhBkaNLjgL3fW9jrzqNAAOUJdagPjV%2BEtguqb8xeBxWR5C0Da%2BYyU0SV7D4UBs4UsAzro2Gv8Smw%3D%3D" class="img-fluid" alt="FondFriuli"><span class="sr-only">Widget con link a risorsa</span></a>
</div>
</div>


</div>
</section>


<section class="sezione-html section-with-bg wow fadeInUp" aria-label="HTML personalizzato">
<div class="row d-none">
<div class="col">
<div class="section_title text-center">
<h2>HTML personalizzato</h2>
</div>
</div>
</div>
<div class="row no-gutters widgets-wrap clearfix justify-content-center">
<style>
    .latest-news-feed .latest-news-feed-body h3 {
    font-size: 18px;
}
    .planning-day-indicator {
    background-color: #27fe44;
}
    
@media (max-width: 767px){
	.it-header-center-content-wrapper img.logo_scuola {
	width:100%;
}
}
</style>

<!-- <div class="latest-news-feed-header">
<span>Ultimi </span>
</div> -->









</div>
</section>


<section class="sezione-calendario" aria-label="Calendario">
<div class="row d-none">
<div class="col">
<div class="section_title text-center">
<h2>Calendario</h2>
</div>
</div>
</div>
<div class="row">
<div id="event-wrapper">

<div class="col-lg-4 col-md-6">
<div id="box-calendario34" data-id="34" class="text-center align-items-center box-calendario">
<div class="progress-spinner progress-spinner-double progress-spinner-active">
<div class="progress-spinner-inner"></div>
<span class="sr-only">Caricamento...</span>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div id="box-eventi34"></div>
</div>



<div class="col-lg-4 col-12">
<div id="news-scroll">
<div class="latest-news-feed" data-tipo="news">
<div class="latest-news-feed-header">
<span>Ultimi contenuti</span>
<button class="vc_goUp" aria-hidden="true"><i class="fa fa-fw fa-angle-up"></i></button>
<button class="vc_goDown" aria-hidden="true"><i class="fa fa-fw fa-angle-down"></i></button>
</div>
<div class="latest-news-feed-body verticalCarousel">
<ul class="vc_list" data-colonne="3" data-max_elementi="10" data-no_immagini="0">
<li class="text-center align-items-center">
<div class="progress-spinner progress-spinner-double progress-spinner-active">
<div class="progress-spinner-inner"></div>
<span class="sr-only">Caricamento...</span>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>


</div>
</div>
</section>


<section class="cookiebar-container" role="alert" aria-label="Banner dei cookie">
<div class="cookiebar" tabindex="1">
<p>
Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella
<a href="https://www.leomajor.edu.it//cookie-policy" class="text-white"><strong>COOKIE POLICY</strong></a>.<br>
</p>
<div class="cookiebar-buttons">
<button tabindex="4" class="cookiebar-btn cookiebar-custom" data-toggle="modal" data-target="#cookie-modal">Personalizza</button>
<button tabindex="3" class="cookiebar-btn cookiebar-ko ml-4">Rifiuta tutti<span class="sr-only"> i cookies</span></button>
<button tabindex="2" class="cookiebar-btn cookiebar-ok ml-4">Accetta tutti<span class="sr-only"> i cookies</span></button>
</div>
</div>
</section>
<div class="modal fade" role="dialog" id="cookie-modal" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<span class="modal-title"><strong>Gestione cookie</strong></span>
</div>
<div class="modal-body">
<div class="row mb-3">
<div class="col-12">
<p>In questa schermata è possibile scegliere quali cookie consentire.<br>
I cookie necessari sono quelli che consentono il funzionamento della piattaforma e non è possibile disabilitarli.<br>
Per conoscere quali sono i cookie necessari al funzionamento potete visionare la <a href="https://www.leomajor.edu.it//cookie-policy"><strong>COOKIE POLICY</strong></a>.</p>
</div>
</div>
<form id="cookie_form">
<input type="hidden" name="act" value="cookieConsent">
<div id="accordionDiv1" class="collapse-div" role="tablist">
<div class="collapse-header" id="headingA0">
<div class="row">
<div class="col-3 col-md-1">
<button type="button" data-toggle="collapse" data-target="#accordion0" aria-expanded="false" aria-controls="accordion0">
</button>
</div>
<div class="col-9 col-md-11">
<div class="form-check form-check-group mb-1">
<div class="toggles">
<label for="toggle1">
Cookie necessari per il funzionamento
<input type="checkbox" id="toggle1" checked disabled>
<span class="lever"></span>
</label>
</div>
</div>
</div>
</div>
</div>
<div id="accordion0" class="collapse" role="tabpanel" aria-labelledby="headingA0" data-parent="#accordionDiv1">
<div class="collapse-body">
I cookie necessari per il funzionamento non possono essere disabilitati. È possibile consultare l'elenco nella pagina della cookie policy.
</div>
</div>

</div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary cookiebar-ok">Accetta tutti</button>
<button type="button" class="btn btn-primary btn-cookie-save">Salva le preferenze</button>
</div>
</div>
</div>
</div>


</main>


<footer class="it-footer">
<div class="it-footer-main">
<div class="container">
<div class="py-2 border-white border-top">

<div class="row mb-3">
<div class="col-12 col-lg-4">
<img style="height: 100px;" src="https://www.leomajor.edu.it//pvw2/img/logo-eu-black.svg" alt="Logo EU">
</div>
<div class="col-12 col-lg-8">
<img style="height: 60px;" class="ml-sm-2 mt-lg-2 mt-xl-2" src="https://www.leomajor.edu.it//pvw2/img/logo-repubblica-black.svg" alt="Logo Repubblica">
Liceo Leopardi - Majorana
</div>
</div>


<div class="row">
<div class="col-lg-8">
<h3>Contatti</h3>
<p><strong>Liceo Leopardi - Majorana</strong></p>
<div class="pb-2 pr-2">
<ul class="list">

<li><i aria-hidden="true" class="fa fa-map-marked-alt"></i> P.zza Maestri del lavoro 2 - 33170 Pordenone</li>



<li><i aria-hidden="true" class="fa fa-phone"></i> Tel: <a href="https://www.leomajor.edu.it/tel:043427206 (sede centrale) - 0434/247054 (Bronx) - 0434/362845 - 0434/362844 (Via Colvera)">043427206 (sede centrale) - 0434/247054 (Bronx) - 0434/362845 - 0434/362844 (Via Colvera)</a></li>



<li><i aria-hidden="true" class="fa fa-envelope"></i> Email: <a href="https://www.leomajor.edu.it/mailto:pnis001004@istruzione.it">pnis001004@istruzione.it<span class="sr-only">Link per inviare una mail</span></a></li>



<li><i aria-hidden="true" class="fa fa-mail-bulk"></i> PEC: <a href="https://www.leomajor.edu.it/mailto:pnis001004@pec.istruzione.it">pnis001004@pec.istruzione.it<span class="sr-only">Link per inviare una mail</span></a></li>



<li><i aria-hidden="true" class="fa fa-address-card"></i> C.F.: 80006380937</li>



</ul>
</div>
<div class="pb-2 pr-2">
<ul class="list">

<li>C.C. 12308599</li>


</ul>
</div>
</div>
<div class="col-lg-4 col-md-4 pb-2">

<div class="pb-2">
<h3>Seguici su</h3>
<ul class="list-inline text-left social">



<li class="list-inline-item"><a class="p-2 it-footer-main-icon" href="https://www.youtube.com/channel/UC8OvTeOt3Lgrc15svgJJYzQ" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a></li>






</ul>
</div>


<div class="pb-2">
<div class="important-link">
<h3 class="sr-only">Sezione Link Utili</h3>
<ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row link-flex">
<li class="list-inline-item margin-flex"><a href="https://www.leomajor.edu.it//cookie-policy" title="Cookie Policy">Cookie policy</a></li>
<li class="list-inline-item margin-flex"><a href="https://www.leomajor.edu.it//note-legali" title="Note Legali" data-element="legal-notes">Note legali</a></li>
<li class="list-inline-item margin-flex"><a href="https://www.leomajor.edu.it//privacy" title="Privacy" data-element="privacy-policy-link">Informativa Privacy</a></li>
<li class="list-inline-item margin-flex"><a href="https://www.leomajor.edu.it//urp" title="URP">Ufficio Relazioni con il Pubblico</a></li>
<li class="list-inline-item margin-flex"><a href="https://form.agid.gov.it/view/97eb8860-ec48-11ee-92f9-51192effa0fb" target="_blank" title="Dichiarazione di accessibilità" data-element="accessibility-link">Dichiarazione di accessibilità</a></li>
<li class="list-inline-item margin-flex"><a href="https://form.agid.gov.it/view/d162c0c0-0337-11f0-b489-e7b6c35a186d" target="_blank" title="Obiettivi di accessibilità">Obiettivi di accessibilità</a></li>
<li class="list-inline-item margin-flex"><a href="https://www.leomajor.edu.it//whistleblowing" title="Whistleblowing">Whistleblowing</a></li>
<li class="list-inline-item margin-flex"><a href="https://www.leomajor.edu.it/#" data-toggle="modal" data-target="#cookie-modal" title="Gestione consensi cookie">Gestione consensi cookie</a></li>
</ul>
</div>
</div>
<div class="pt-4 pb-2">
<ul class="list-inline text-left social">
<li>Pagina visualizzata <span class="footer-visite-count">301601</span> volte</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="it-footer-small-prints clearfix">
<div class="container">
<h3 class="sr-only">Sezione Copyright</h3>
<div class="box-copyright">
<div class="primavisione-web">
<img src="https://www.leomajor.edu.it//pvw2/img/logo.png" alt="Logo Prima Visione Web" class="logo-pvw">
</div>
<div class="pvw_footer">
Copyright 2026 | Engineered and powered by Gruppo Spaggiari Parma S.p.A. | Divisione Publishing & New Social Media<br>
<a href="https://www.leomajor.edu.it//disclaimer" class="footer-disclaimer">Disclaimer trattamento dati personali</a>
</div>
</div>
</div>
</div>
<div class="d-flex align-items-center">
<a href="https://www.leomajor.edu.it/#" aria-hidden="true" data-attribute="back-to-top" class="back-to-top shadow">
<svg class="icon icon-light"><use xlink:href="/pvw2/img/sprite.svg#it-arrow-up"></use></svg><span class="sr-only">Back to top</span>
</a>
</div>
</footer>


<script>window.__PUBLIC_PATH__ = "/pvw2/fonts";</script>
<script>window.BOOTSTRAP_ITALIA_VERSION = '1.6.4';</script>

<script>
var sede_codice = 'PNII0005';
var GlobalTranslationArray = {
oggi            :   'Oggi',
giorno          :   'Giorno',
mese            :   'Mese',
settimana       :   'Settimana',
lista           :   'Lista',
tuttoilgiorno   :   'Tutto il giorno',
noeventi        :   'Nessun evento da visualizzare',
arraymesi       :   ["Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"],
arraygiorni     :   ["Domenica", "Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato"]
};
</script>


<script src="asset/pvw2/lib/js/bootstrap-italia.bundle.min.js"></script>
<script src="asset/auth/lib/js/jquery-AuthApi2.js"></script>
<script src="asset/commons/lib/jsx/jQuery/plugins/realperson/jquery.plugin.min.js"></script>
<script src="asset/pvw2/lib/js/realperson_custom.js"></script>
<script src="asset/pvw2/lib/js/functions.js"></script>
<script src="asset/pvw2/lib/js/common.js"></script>
<script>
$(document).ready(function(){
avviaCaptcha('rigenera codice');

$('[data-tooltip="tooltip"]').tooltip();

$('.select-submit').change(function(){
$('.form-submit').submit();
});

$('#accedi-mail').keypress(function(e) {
if(e.which == 13) {
doLogin();
}
});

$('#accedi-pwd').keypress(function(e) {
if(e.which == 13) {
doLogin();
}
});

$('.pwd-reset').click(function(){
doReset();
});

$('.btn-accedi').click(function(){
doLogin();
});

$('.btn-logout').click(function(){
doLogout();
});

/*if ($('.avatar-profile').length>0)
{
inviaDatiASync('/tools/app/default/get_avatar.php', null, function(json){
if(json)
{
var resp = JSON.parse(json);
if (resp.foto!=undefined && resp.foto!='')
{
var src = "/sps/app/default/cache-img.php?sz=100&ori="+resp.foto;
$('.avatar-profile').attr('src', src);
}
}
});
}*/

if ($('.language_select').length>0)
{
$('.language_select').click(function(){
var data = {
'act'       :   'changeLang',
'lang'      :   $(this).attr('data-lang')
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(){
location.reload();
});
});
}

$('.cookiebar-ok').click(function(){
var data = {
'act'       :   'cookieConsent',
'cookie'    :   'all'
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(){
location.reload();
});
});

$('.cookiebar-ko').click(function(){
var data = {
'act'       :   'cookieConsent',
'cookie'    :   'none'
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(){
location.reload();
});
});

$('.btn-cookie-save').click(function(){
var cookie_list=[];
$('#cookie_form input[type="checkbox"]').each(function(){
if ($(this).is(':checked'))
{
cookie_list.push($(this).attr('data-id'));
}
});
var data = {
'act'       :   'cookieConsent',
'cookie'    :   cookie_list.join(',')
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(){
location.reload();
});
});

if ($('.menu-laterale').length>0)
{
if ($('.menu-laterale a.current').length>0)
{
$('.menu-laterale a.current').parents(".collapse").not('.menu-laterale').collapse("toggle");
if ($('.menu-laterale a.current').find('svg').length>0)
{
$('.menu-laterale a.current').siblings('ul').collapse("toggle");
}
$('.menu-laterale a.current').parents('li:not(.base-parent)').addClass('show');
}

if ($('.toggle-collapse').length>0)
{
$('.toggle-collapse').click(function(e){
e.preventDefault();
});
}
}

if ($('.rssfeed').length>0)
{
$('.rssfeed').each(function(){
var attuale=$(this);
getRssFeed(attuale.attr('data-url'), function(result){
attuale.html(result);
});
});
}
});

window.onscroll = function (){
navbarSticky();
};

function navbarSticky()
{
var nav = document.getElementById('navigation-bar');
var sticky = nav.offsetTop+50;

if (window.pageYOffset >= sticky) {
nav.classList.add('sticky');
} else {
nav.classList.remove('sticky');
}
}
</script>


<script src="asset/pvw2/lib/js/calendarorganizer.js"></script>
<script src="asset/pvw2/lib/js/jquery.scrollbox.js"></script>
<script src="asset/pvw2/lib/js/schoolplanner.js"></script>
<script src="asset/pvw2/lib/js/aos.js"></script>
<script src="asset/pvw2/lib/js/vendor/splide.min.js"></script>
<script>
$(document).ready(function(){
AOS.init({
delay: 50,
duration: 2000
});

if ($('.sp-container').length>0)
{
$('[data-toggle="tooltip"]').tooltip();
}

if ($('.box-calendario').length>0)
{
$('.box-calendario').each(function(){
var attuale = $(this);

var date = new Date();
var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 1);
var data = {
'act': 'calendar-feed',
'data_start': firstDay.toISOString().slice(0, 10),
'data_stop': lastDay.toISOString().slice(0, 10)
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(result){
var calendar = new Calendar(
attuale.attr('id'),
"small",
[
1,
3
],
[
"#FFFFFF",
"#FFFFFF",
"#3941A0",
"#3941A0"
],
{
indicator: true,
indicator_type: 1,
indicator_pos: "bottom",
lang: $('html').attr('lang')
}
);

var organizer = new Organizer(
"box-eventi"+attuale.attr('data-id'),
calendar,
result
);

organizer.onMonthChange = function(callback){
var date = organizer.calendar.date;
var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 1);
var data2 = {
'act': 'calendar-feed',
'data_start': firstDay.toISOString().slice(0, 10),
'data_stop': lastDay.toISOString().slice(0, 10)
};
ajaxRequest(checkSeoUrl()+'tools.php', data2, function(result2){
organizer.data = result2;
callback();
});
};
});
});
}

if ($('.latest-news-feed').length>0)
{
$('.latest-news-feed').each(function(){
var attuale = $(this);
if (attuale.attr('data-tipo')=='news')
{
var data={
'act'           :   'getUltimeNews',
'colonne'       :   attuale.find('.vc_list').attr('data-colonne'),
'max_elementi'  :   attuale.find('.vc_list').attr('data-max_elementi'),
'no_immagini'   :   attuale.find('.vc_list').attr('data-no_immagini'),
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(result){
attuale.find('.vc_list').html(result);
bindNews(attuale);
});
}
else
{
bindNews(attuale);
}
});
}
});

function bindNews(attuale)
{
attuale.find(".verticalCarousel").scrollbox({
switchAmount: 4,
});

attuale.find('.vc_goUp').click(function(){
attuale.find('.verticalCarousel').trigger('backward');
});
attuale.find('.vc_goDown').click(function(){
attuale.find('.verticalCarousel').trigger('forward');
});
}

$('body').on('click', 'a.schoolplanner_event', function() {
var data={
'act'           :   'fullcalendar-event',
'id'            :   $(this).attr('data-id'),
'tipo'          :   $(this).attr('data-tipo'),
'modal'         :   2
};
ajaxRequest(checkSeoUrl()+'tools.php', data, function(risultato){
$('#sp-event-modal .modal-body').html(risultato);
$('#sp-event-modal').modal('show');
});
return false;
});
</script>


<script>
if (inIframe() && 0)
{
$('.cookiebar-container').remove();
}
</script>


</body>
</html>


